benchmarks/build/
__pycache__/
*.pyc
PaperWork/source/EMP Execution Time Measurement Protocol.pdfZone.Identifier
benchmarks/results/raw/
test_dual_pivot_quicksort
test/test_dual_pivot_quicksort
benchmark_log.txt
benchmarks/benchmark_log.txt
diagnostic_runner
test_dpqs
*:Zone.Identifier
test_sequential_sorters
PaperWork/InterimReport/InterimReport.aux
PaperWork/InterimReport/InterimReport.fdb_latexmk
PaperWork/InterimReport/InterimReport.fls
PaperWork/InterimReport/InterimReport.log
PaperWork/InterimReport/InterimReport.out
*.Identifier
server.log
